.exhibition-teaser {
    &__container {
        position: relative;
        width: 100%;
        height: 325px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $white;
        opacity: 0.75;
        transition: all 0.1s ease-in-out;
        z-index: 0;
    }

    &__content {
        z-index: 1;
    }

    &__button {
        background-color: $black;
        border-color: $black;
        text-transform: uppercase;
        color: $white;
        transition: all 0.1s ease-in-out;
        padding: 1.5rem 2rem;

        &:hover {
            color: $black;
            background-color: $white;
            border-color: $white;;
        }
    }

}