.btn,
button {
  display: inline-block;
  padding: 0.675rem 3rem;
  font-size: 0.75rem;
  font-family: $font-body;
  font-weight: 500;
  color: $white;
  border: solid $red 3px;
  transition: all 0.1s ease-in-out;
  background-color: transparent;
  border-radius: 0;

  &:hover {
    background-color: $red;
    color: $white;
  }

  &--fluid {
    width: 100%;
    padding: 0.675rem 0;
  }

  &--dark {

  }

  &--light {
    border: solid $white 3px;

    &:hover {
      background-color: $white;
      color: $black;
    }
  }

  &--large {
    width: 100%;
    padding: 0.675rem 0;
    font-size: 1.25rem;

    @include media-breakpoint-up(md) {
      min-width: 400px;
    }
  }

  &--primary,
  &-primary {
    background-color: $black;
    border: none;
    font-size: 1.125rem;
    color: $white;
    font-weight: bold;
    padding: 2rem 0;
    width: 100%;

    &:hover {
      background-color: $white;
      color: $black;
    }

    &:focus {

    }
  }

  // &--secondary,
  // &-secondary {
  //   &:hover {

  //   }

  //   &:focus {

  //   }

  // }
}
