{% if polylang and polylang.languages|length > 1 %}
  <li class="nav-item ml-xl-4 mt-2 mt-xl-0">
      {% for language in polylang.languages %}
        <a class="text-white text-uppercase {{polylang.current == language.slug ? 'text-red' : ''}}" href="{{ language.url }}">{{ language.slug }}</a>

        {% if not loop.last %}
          <span class="text-white">|</span>
        {% endif %}
      {% endfor %}
  </li>
{% endif %}
