{% extends 'section/section.twig' %}

{% block section_classes %}bg-doom{% endblock %}

{% block section_content %}
    <div class="container py-8">
        <div class="row">
            {% if section.title %}
                <div class="col-lg-12">
                    <h2 class="text-white text-center mb-4">{{section.title}}</h2>
                </div>
            {% endif %}
            {% for box in section.boxes %}
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="link-box__container">
                        <p class="text-white">{{box.link.title}}</p>
                        <a class="btn" href="{{box.link.url}}">{{__('Tutustu lisää', 'kellomuseo-theme')}}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}