    <div class="container-fluid section-hero__container py-8 py-lg-16" style="background-image: url({{TimberImage(post.thumbnail).src}});">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="text-white">
                    <h1 class="text-center text-white">{{post.title}}</h1>
                </div>
            </div>
        </div>
    </div>