/************************************ SITE HEADER *****************************************/

.admin-bar-showing {
  top: 48px;

  @include media-breakpoint-up(md) {
    top: 32px;
  }
}

.nav-link {
  text-transform: uppercase;
  transition: all 0.1s ease-in-out;
}

.custom-dropdown {

  @include media-breakpoint-up(xl) {
    .dropdown {
      & > .dropdown-toggle {
        /* Without this, clicking will make it sticky */
        :active {
          pointer-events: none !important;
        }
      }

      &:hover > .dropdown-menu {
        display: block !important;
        top: 35px;
      }
    }
  }
}

.dropdown-toggle {
  &::after {
    display: none;
  }
}

.nav-item {
  width: 100%;

  @include media-breakpoint-up(xl) {
    width: auto;
  }

  &:hover {
    .custom-dropdown-toggle {
      svg {
        fill: $red !important;
      }
    }
  }
}

.custom-dropdown-toggle {
  transform: all 0.1s ease-in-out;

  svg {
    height: 12px;
    width: 12px;
    transition: all 0.1s ease-in-out;
  }
}

.nav-separator {
  content: "";
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: $white;
  margin: 0 9px 2px 9px;

  &--extra_margin {
    margin-left: 16px;
  }
}

.dropdown-menu {
  font-family: $font-heading;
  height: auto !important;
}

.dropdown-item {
  font-size: 1rem;
  font-weight: bold;
  color: $white;
  transition: all 0.1s ease-in-out;

  &:hover,
  &:active {
    color: $red;
  }
}

.some-link {
  @include media-breakpoint-up(xl) {
    margin-left: 0.675rem;
  }

  svg {
    height: 20px;
    width: auto;
    fill: $white;
    transition: all 0.1s ease-in-out;

    &:hover {
      opacity: 0.75;
    }
  }

  &:first-child {
    svg {
      height: 30px;
      width: auto;
    }
  }

  &--footer {
    margin: 0;

    svg {
      height: 55px;
      width: auto;
    }

    &:first-child {
      svg {
        height: 80px;
        width: auto;
      }
    }
  }
}



/************************************ SITE HEADER ENDS ************************************/
